<a href="https://colab.research.google.com/github/abdulfatahhamidah/learnMachineLearning/blob/master/Python_Operasi_sederhana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Penjelasan Awal
<p>operasi sederhana pada python </p>
tanda '=' digunakan untuk mengisi sebuah variable<br>
dibawah ini kita akan mempelajari penulisan string, variable content

In [ ]:
a = 10
b = 12
c = a + b
print("hasil a + b =", c)

dibawah ini terlihat bahwa saat variable c diberi tanda '' menghasilkan output c<br>
sedangkan saat langsung variable ditulis c maka menghasilkan output 22, 22 meruapakn nilai yang dikandung oleh variable c

In [ ]:
a = 10
b = 12
c = a+b
print(c, 'c')

merubah type data angka menjadi string dengan menggunakan mode str()

In [ ]:
a = 10 
b = 12
c = a + b
d = "hasilnya adalah"
print (d, a)

penjumlahan dua buah string<br>
sebuah string ditandai dengan ' atau "

In [ ]:
a = "selamat "
b = 'datang'
print (a+b)

selamat datang

menjumlahkan sebuah string dan angka akan menghasilkan sebuah error

In [ ]:
a = "selamat datang"
b = 5
print(a + b)

TypeError: ignored

solusinya kita harus mengubah tipe data dari angka menjadi sebuah string <br>
mode yang digunakan adalah str()

In [ ]:
a = "selamat datang "
b = 5

print (a+str(b))

selamat datang 5